.mixin.out/*
.probe/*
.vscode/*
assets/*
backups/*
CustomSkinLoader/*
!CustomSkinLoader/CustomSkinLoader.json
data/*
datapacks/*
debug/*
defaultconfigs/*
!defaultconfigs/ftbxmodcompat/ftbxmodcompat.snbt
downloads/*
fancymenu_data/*
kiwipacks/*
kubejs/config/probe-settings.json
libraries/*
local/*
logs/*
mods/*
puresufferingmusic/*
resourcepacks/*
saves/*
schematics/*
screenshots/*
shaderpacks/*
!shaderpacks/ComplementaryUnbound光影精调.txt
tlm_custom_pack/*
versions/*
xaero/*
XaeroWaypoints_*/*
authlib-injector.log
command_history.txt
emi.json
launcher_profiles.json
patchouli_data.json
PCL.ini
servers.dat
usercache.json
usernamecache.json
