# 主目录
.mixin.out/*
.probe/*
.vscode/*
assets/*
backups/*
CustomSkinLoader/*
data/*
datapacks/*
debug/*
defaultconfigs/*
downloads/*
fancymenu_data/*
kiwipacks/*
libraries/*
local/*
logs/*
mods/*
puresufferingmusic/*
resourcepacks/*
saves/*
schematics/*
screenshots/*
shaderpacks/*
tlm_custom_pack/*
versions/*
xaero/*
XaeroWaypoints_*/*

# 主文件
!CustomSkinLoader/CustomSkinLoader.json
!defaultconfigs/ftbxmodcompat/ftbxmodcompat.snbt
authlib-injector.log
command_history.txt
emi.json
launcher_profiles.json
patchouli_data.json
PCL.ini
servers.dat
servers.dat_old
usercache.json
usernamecache.json


# 配置文件
config/*.md
config/mobbattle.toml
config/mobbattle-client.toml
config/forgematica
config/litematica
config/xray
config/nbtedit.toml
config/xray-client.toml

# 其他
!shaderpacks/ComplementaryUnbound光影精调.txt

# KubeJS
kubejs/assets/goldenagefall/textures
kubejs/config/probe-settings.json